[submodule "ColorPicker"]
	path = ColorPicker
	url = https://gitlab.com/froststrap/color-picker.git
[submodule "FluentAvalonia"]
	path = FluentAvalonia
	url = https://gitlab.com/froststrap/fluent-avalonia.git
[submodule "LucideAvalonia"]
	path = LucideAvalonia
	url = https://gitlab.com/froststrap/lucide-avalonia.git
